<nav class="site-nav">

  <div class="site-nav-inner">
    <div class="site-nav-left">
        <a class="site-nav-logo" href="/"><img src="/{{ site.logo }}" alt="{{ site.title }}" /></a>
        {% include navigation.html %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if site.facebook %}
                <a class="social-link social-link-fb" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">{% include facebook.html %}</a>
            {% endif %}
            {% if site.twitter %}
                <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
            {% endif %}
            {% if site.instagram %}
                <a class="social-link social-link-tw" href="https://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener">{% include instagram.html %}</a>
            {% endif %}
	    {% if site.linkedin %}
                <a class="social-link social-link-tw" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener">{% include linkedin.html %}</a>
            {% endif %}
        </div>
        {% if site.subscribers %}
            <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {% endif %}
    </div>
  </div>
</nav>
{% if page.class != "post-template" %}
<div class="floating-header">
    <div class="floating-header-logo">
        <a href="{{ site.url }}/">
            {% if site.logo_dark %}
                <img src="/{{ site.logo_dark }}" alt="{{ site.title }} icon" />
            {% endif %}           
        </a>
    </div>
    {% include navigation.html %}
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{ page.title }}</div>
    
    <div class="site-nav-right">
      <div class="social-links">
            {% if site.facebook %}
                <a class="social-link social-link-fb" href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener">{% include facebook.html %}</a>
            {% endif %}
            {% if site.twitter %}
                <a class="social-link social-link-tw" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener">{% include twitter.html %}</a>
            {% endif %}
            {% if site.instagram %}
                <a class="social-link social-link-tw" href="https://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener">{% include instagram.html %}</a>
            {% endif %}
	    {% if site.linkedin %}
                <a class="social-link social-link-tw" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener">{% include linkedin.html %}</a>
            {% endif %}
        </div>
    </div>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
{% endif %}