---
layout: default
current: author
title: Author Page
cover: false
class: 'author-template'
navigation: True
label: Author
---
<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the {body} of the default.hbs template -->

<!-- #author  -->
<!-- Everything inside the #author tags pulls data from the author -->
{% include site-nav.html %}
<header class="site-header outer {% if page.cover %}" style="background-image: url(/{{ page.cover }}){% else %}no-cover{% endif %}">
    <div class="inner">
        <div class="site-header-content">
            {% if page.picture %}
                <img class="author-profile-image" src="/{{ page.picture }}" alt="{{ page.name }}" />
            {% endif %}
            <h1 class="site-title">{{ page.name }}</h1>
            {% if page.bio %}
                <h2 class="author-bio">{{ page.bio }}</h2>
            {% endif %}
            <div class="author-meta">
                {% if page.location %}
                    <div class="author-location">{{ page.location }} <span class="bull">&bull;</span></div>
                {% endif %}
                <div class="author-stats">
                    {% assign number_of_posts = 0 %}
                    {% for post in site.posts %}
                        {% if post.authors contains page.username or page.username == post.authors %}
                            {% assign number_of_posts = number_of_posts | plus: 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if number_of_posts == 0 %}No posts{% elsif number_of_posts == 1 %}1 post{% else %}{{ number_of_posts }} posts{% endif %} <span class="bull">&bull;</span>
                </div>
                {% if page.url_short and page.url_full %}
                    <a class="social-link social-link-wb" href="{{ page.url_full }}" target="_blank" rel="noopener">{% include website.html %}</a>
                {% endif %}
                {% if page.twitter %}
                    <a class="social-link social-link-wb" href="https://twitter.com/{{ page.twitter }}" target="_blank" rel="noopener">
                        {% include twitter.html %}
                    </a>
                {% endif %}
                {% if page.facebook %}
                    <a class="social-link social-link-wb" href="https://facebook.com/{{ page.facebook }}" target="_blank" rel="noopener">
                        {% include facebook.html %}
                    </a>
                {% endif %}
                {% if page.instagram %}
                    <a class="social-link social-link-wb" href="https://instagram.com/{{ page.instagram }}" target="_blank" rel="noopener">
                        {% include instagram.html %}
                    </a>

                {% endif %}
            </div>
        </div>
    </div>
</header>
<!-- /author -->

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <div class="post-feed">
            {% for post in site.posts %}
                {% if post.authors contains page.username or page.username == post.authors %}
                    {% include post-card-single.html %}
                {% endif %}
            {% endfor %}
        </div>

    </div>
</main>
